body {
    background-color: #5985E9;
    font-family: "Inter", sans-serif;
}

.header-container {
    background-color: #050F1F;
}

.button-google {
    background-color: #050F1F;
}

.button-apple {
    background-color: #050F1F;
}

.button-login {
    background-color: #050F1F;
}
